<h1 class="display-4">Notatki</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Tytul</th>
            <th>Opis</th>
        </tr>
    </thead>
    <tbody>
        <% notes.forEach(function(note){ %>
            <tr>
                <td><%= note.id %></td>
                <td><%= note.title %></td>
                <td><%= note.description %></td>
                <td>
                    <a href="/notes/edit/<%= note.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/notes/delete/<%= note.id %>" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>